<tr id="editBox">
  <td class="p-3" colspan="6">
    <form class="" method="post" id="form">
      {% csrf_token %}

      <div class="form-group">
        <label for="Title" class="form-control-label">Title</label>
        <input
          class="form-control"
          type="search"
          name="title"
          id="Title"
          required
        />
      </div>

      <div class="form-group">
        <label for="Author" class="form-control-label">Author</label>
        <input
          class="form-control"
          type="search"
          name="author"
          id="Author"
          required
        />
      </div>
      <div class="form-group">
        <label for="Pages" class="form-control-label">Pages</label>
        <input
          class="form-control"
          type="number"
          name="pages"
          id="Pages"
          required
        />
      </div>

      <div class="form-group">
        <label for="Genre" class="form-control-label">Genre</label>
        <input
          class="form-control"
          type="search"
          name="genre"
          id="Genre"
          required
        />
      </div>
      <div class="form-group">
        <input type="hidden" name="bookId" id="bookIdInput" value="" />
      </div>
      <div class="d-flex justify-content-end">
        <a href="" type="button" class="btn bg-gradient-danger me-2 mb-0"
          >Reset</a
        >
        <button
          id="update"
          type="submit"
          class="btn bg-gradient-warning me-2 mb-0"
        >
          Update Book
        </button>
      </div>

      {% comment %}
      <div class="form-group pt-2 mb-0">
        <label for="genreDropdown" class="form-control-label">Genre</label>
        <div class="dropdown">
          <button
            href="#"
            class="btn bg-gradient-primary dropdown-toggle"
            data-bs-toggle="dropdown"
            id="genreDropdown"
          >
            Select Genre
          </button>
          <ul class="dropdown-menu" aria-labelledby="genreDropdown">
            {% for genre in genres %}
            <li>
              <a
                class="dropdown-item"
                href="javascript:changeGroup('genreDropdown', 'genre', '{{genre}}')"
                >{{ genre }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endcomment %}
      </div>
    </form>
  </td>
</tr>
