{% extends 'core/base.html' %} {% block content %}
<div class="container-fluid py-4 pt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Increase the column size to make it wider -->
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Add Teacher</h5>
        </div>
        <div class="card-body">
          <form method="post" action="/add_teacher/" id="addTeacherForm">
            {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="form-label">Teacher Name</label>
              <input
                class="form-control"
                type="text"
                name="name"
                id="name"
                required
              />
            </div>

            <button
              type="button"
              class="btn btn-success btn-lg"
              onclick=""
            >
              Add Teacher
            </button>
            <!-- Increase the button size -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  {% comment %} function addTeacher() {

    var name = $("#name").val();



      // Check if required fields are not empty
    if (!name ) {
        console.error("Error adding teacher: Teacher name are required");
        return false;  // Prevent default form submission
    }

  // Serialize form data
    var formData = $("#addTeacherForm").serialize();

    $.ajax({
      url: "/add_teacher/",
      method: "POST",
      data: formData,
      success: function (response) {
        if (response.success) {
          // Handle success, e.g., redirect to the teacher list page
          alert("Teacher '" + name + "' created successfully!");

          window.location.href = "/teacher";
        } else {
          // Handle validation errors
          console.error("Error adding teacher:", response.errors);
        }
      },
      error: function (xhr, status, error) {
        console.error("Error adding teacher:", status, error);
      },
    });
    return false;
  } {% endcomment %}
</script>
{% endblock %}
