{% load static %}
{% with title="INAB" %}

<!DOCTYPE html>
<html>
    {% include 'core/head.html' %}

    <body class="m-0 font-sans text-base antialiased font-normal dark:bg-slate-900 leading-default bg-gray-50 text-slate-500">
        <div class="absolute w-full bg-blue-500 dark:hidden min-h-75"></div>
        {% if active_page != 'login' and active_page != 'register' %}
            {% include 'core/sidebar.html' %}
        {% endif %}
        <main class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68 rounded-xl">
            {% if active_page != 'login' and active_page != 'register' %}
                {% include 'core/navbar.html' %}
            {% endif %}
            
            {% block content %}
            {% endblock %}
            {% include 'core/setting.html' %}
            {% block scripts %}
                <script src="../../static/js/charts.js" defer></script>
                <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}" defer></script>
                <script src="{% static 'js/argon-dashboard-tailwind.js' %}" defer></script>
            {% endblock %}
        </main>
    </body>
</html>
{% endwith %}
