{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4 pt-3">
  <div class="row">
    <div class="col">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row align-items-center">
            <div class="col">
                <h6 class="font-weight-bolder">Employees</h6>
            </div>
            <div class="col-2">
              <div class="input-group">
                <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder="Type here..." onfocus="focused(this)" onfocusout="defocused(this)">
              </div>
            </div>
          </div>
        </div>
        <div class="card-body px-2 pt-0 pb-2 pt-2">
          <div class="table-responsive p-0 overflow-hidden">
            <table class="table align-items-center mb-0">
              <thead class="h6">
                <tr>
                  <th class="text-uppercase text-xxs font-weight-bolder ps-2">Name</th>
                  <th class="align-middle text-uppercase text-xxs font-weight-bolder ps-2">Info</th>
                  <th class="align-middle text-uppercase text-xxs font-weight-bolder ps-2">Setup</th>
                  <th class="w-10 align-middle text-center text-uppercase text-xxs font-weight-bolder pe-10 ps-2">Actions</th>
                </tr>
              </thead>
              <tbody id="employeeTable">
                {% for user in users %}
                  <tr id="{{ user.id }}">
                    <td class="w-50">
                      <p class="text-xs font-weight-bold mb-0">{{ user.name }}</p>
                    </td>
                    <td class="align-middle text-sm">
                      <span class="badge badge-sm {% if user.infoStatus %}bg-gradient-success{% else %}bg-gradient-danger{% endif %}">{{ user.infoStatus }}</span>
                    </td>
                    <td class="align-middle text-sm">
                      <span class="badge badge-sm {% if user.taskStatus %}bg-gradient-success{% else %}bg-gradient-danger{% endif %}">{{ user.taskStatus }}</span>
                    </td>
                    <td class="align-middle text-sm">
                      <button class="btn btn-icon btn-sm btn-warning btn-tooltip mb-0 p-2" onclick="addRow(this, {{user.id}})" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-container="body" data-animation="true">
                        <i class="ni ni-archive-2"></i>
                      </button>
                      <button class="btn btn-icon btn-sm btn-danger btn-tooltip mb-0 p-2" onclick="deleteUser({{ user.id }})" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-container="body" data-animation="true">
                        <i class="ni ni-fat-remove 1em"></i>
                      </button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}